PS5-Dualsense-To-IMU-SlimeVR/bin
PS5-Dualsense-To-IMU-SlimeVR/obj
.vs
*.dol
*.elf
*.zip
PS5-Dualsense-To-IMU-SlimeVR/WiiClient/application/build
PS5-Dualsense-To-IMU-SlimeVR/3DSClient/application/3DS-2DS Client
*.cfg
*.3dsx
*.smdh
